page-password-change {
    .item-ios.item-block {
        border-bottom: 1px solid color($colors, graytwo);
        .item-inner {
            border-bottom: none;
            .input {
                color: color($colors, dark);
            }
        }
    }
    .btn {
        height: 2.58rem;
        margin-top: 1rem;
    }
    .btn span {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
    }
}