<ion-header>
    <ion-navbar>
        <ion-title>资金密码设置</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="checkSafeForm" (ngSubmit)="checkSafe(checkSafeForm.value)" *ngIf="hasMoney && hasSecurity">
        <ion-card>
            <div class="tops">
                <p class="tianxie">1</p>
                <span>填写信息</span>
            </div>
            <div class="rtops">
                <p class="mima">2</p>
                <span>修改密码</span>
            </div>
        </ion-card>
        <div class="mibao">
            <ion-item class="input-group">
                <label class="lab"><span>问题一</span>{{Question[0].value}}</label>
            </ion-item>
            <ion-item class="input-group" class="xia">
                <ion-label class="you">密保答案一</ion-label>
                <ion-input style="font-size:1.3rem;" type="text" placeholder="请输入答案" formControlName="Answer1"></ion-input>
            </ion-item>
            <ion-item class="input-group">
                <label class="lab"><span >问题二</span>{{Question[1].value}}</label>
            </ion-item>
            <ion-item class="input-group" class="xia">
                <ion-label class="you">密保答案二</ion-label>
                <ion-input style="font-size:1.3rem;" type="text" placeholder="请输入答案" formControlName="Answer2"></ion-input>
            </ion-item>
            <ion-item class="input-group">
                <label class="lab"><span>问题三</span>{{Question[2].value}}</label>
            </ion-item>
            <ion-item class="input-group" class="xia">
                <ion-label class="you"> 密保答案三</ion-label>
                <ion-input style="font-size:1.3rem;" type="text" placeholder="请输入答案" formControlName="Answer3"></ion-input>
            </ion-item>
            <button style="height:2.58rem;" ion-button type="submit" block>下一步</button>
        </div>
    </form>
    <form [formGroup]="newForm" (ngSubmit)="setMoney(newForm.value)" *ngIf="!hasMoney">
        <ion-item>
            <ion-label><span class="number">*&nbsp;</span>输入新密码：</ion-label>
            <ion-input type="password" formControlName="newOne"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label><span class="number">*&nbsp;</span>重复新密码：</ion-label>
            <ion-input type="password" formControlName="newTwo"></ion-input>
        </ion-item>
        <button ion-button type="submit" [disabled]="!newForm.valid" block>确&nbsp;&nbsp;认</button>
    </form>
    <p *ngIf="hasMoney && !hasSecurity" class="remind">请前往密保管理页面，设置密保后，即可修改资金密码</p>
</ion-content>